{% extends "base.html" %}

{% block head %}
<script>
    var close = document.getElementsByClassName("closebtn");
    var i;
    
    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
    </script>
<title>Customer Care Registry</title>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/landingPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/customer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
{% endblock %}

{% block body %}

<div id="Error-Message">
    <i class="fa-solid fa-circle-exclamation"></i>
   <p>Oops! <span class="insertError"></span></p>
</div>
<div class="container-fluid" style="width: 100vw;height: 90vh;display: grid;align-content: center;background-image: url('https://cdn.dribbble.com/users/58530/screenshots/5476801/ch_logo_motion.gif');">
    <section class="container-fluid row m-auto w-80">
            <div style="max-width: 572px; margin-right: 9%;" class="w-50 col justify-content-center form-bg rounded-5 position-relative">
                <h3 class="mt-4" style="color: #26A1A9;padding-bottom: 8%;">Create new account .</h3>
                <form class="row w-100 m-auto" name="add_staff" autocomplete="off" method="post" action="/add_staff">
                    <div class="form-floating mt-2 w-75">
                        <input type="text" class="form-control form-input" placeholder="Name" name="name" required>
                        <label for="floatingInput">Name of the Staff</label>
                    </div>
                    <div class="form-floating mt-2 w-75">
                        <input type="email" class="form-control form-input" placeholder="Email" name="email" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <div class="position-absolute start-50 top-50 w-100 spin-ab" hidden=""><div class="spinner-border text-primary" role="status"></div></div>
            </div>
            <div class="w-75 row" style="width: 55%; max-width: 55%; justify-content: center;">
                <img src="/static/Images/signup-tran.gif" alt="LOGIN" style="width: 40vw; height: 55vh;">
            </div>
        </section>
</div>
<script src="{{ url_for('static', filename='JS/signup.js') }}"></script>
{% endblock %}