{% extends "queries_corner.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
<script>
function myFunction() {
  alert("Staff assigned");
}</script>
{% endblock %}

{% block body %}
<h2>Card</h2>
<div class="card">
  <div class="container">
    {% block content %}
    <ul>
    {%  while ibm_db.fetch_row(stmt) != False %}
      <h3>ibm_db.result(stmt,1)</h3>
      <h3>ibm_db.result(stmt,2)</h3>
    {% endwhile %}
    </ul>
    {% endblock %}
  </div>
</div>
{%endblock%}